NEXT_PUBLIC_SUPABASE_URL=https://avqgeqslhywrulnzjgzo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_swxy9LuvgEJesZq5cN7VBQ_mIV6Mcbm
NEXT_PUBLIC_API_BASE_URL=https://replace-with-api-url
NEXT_PUBLIC_REQUIRE_AUTH=false
NEXT_PUBLIC_BILLING_ENABLED=false
NEXT_PUBLIC_AUTH_PROVIDER=supabase
